/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #F3F1F1;
}

h1 {
    margin: 0;
}